body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.nike-nav-link{
    color: black !important;
    font-weight: 700;
}
.nike-nav-link:hover{
    border-radius: 5px;
    background-color: darkgray;
    color: white !important;
}
.buy-button{
    border-radius: .3em;
    font-size: 1.2em;
    background-color: #3d4ff3;
    margin-top:0em;
}

.buy-icon{
    margin-right: 10px;
}

header{
    background-color: #fff9f4;   
}

/* #363958 */
h1,h2{
    color: #363958;
    font-family: 'Bebas Neue', cursive;
}
h1{
    font-size:5em ;
}
h2{
    font-size: 300%;
}
#company-name{
    color: #FA804C;
}
.nike-shoe-card{
    padding: 1em;
    border-radius: 1em;
}
.nike-card-footer{
    background-color: white;
    border: 0;
}
.nike-card-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.shoe-price{
    color:  #FA804C;
    font-size: 2em;
    font-weight: 700;
}

.nike-shoe-img{
    height:21em;
    width: 100%;
    border-radius: 10px;
}
.casual-shoe-img{
    background-color: #f1f1f1;
}

.about-section-img{
    width: 4.5em;
}

.about-card{
    border-radius: 5%;
    padding: 2%;
}
h4{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
}
.other-shoes-box{
    border: 2px solid lightgrey;
    border-radius: 5%;
    background-color: teal;
}

.other-shoes-card{
    margin:15%;
}
.other-section-img{
    width: 90%;
    height: 20em;
    padding: 2%;
    border-radius: 2%;
    background-color: seashell;
}
.other-section-info-card{
    color: whitesmoke;
}
.other-section-buy-button{
    border-radius: .3em;
    font-size: 1.2em;
    background-color:whitesmoke;
    color: teal;
    margin-top:0em;
}